.stuck {
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 180px;
    overflow-y: auto;
}
h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  padding: 0cm 1cm 0cm 1cm;
  text-align:center;
}
h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  padding: 0cm 1cm 0cm 1cm;
  text-align:center; 
}
h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 15.4px;
  padding: 0cm 0cm 0cm 0cm;
  text-align:center; 
}
p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0cm 0cm 0cm 0cm;
  text-align:center; 
}
tspan {
  font-size: 12px; 
}